black==21.6b0 # For code formatting
Django==3.2 # Web framework
coverage==6.2 # For code coverage
psycopg2==2.8.5 # Postgres driver
selenium==3.141.0 # Automated testing framework
whitenoise==5.2.0 # For caching
pyproj==2.6.1.post1 # Calculate great circle things