{% load static %}
{#{% load extratags %}#}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--    todo make it zoomable-->
    <!--    this is to prevent horizontal scrolling-->
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'app/bulma.min.css'%}">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ page_title }}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="A POC web app to track problems on a map. A solution looking for a problem." />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% static 'app/preview.png'%}" />
  </head>
  <body>
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
