{% extends 'app/base.html' %}
{% load extratags %}
{% load static %}
{% block body %}
  <h2 class="title">Report Issue</h2>
  <form method="post">
    <div>
        <div id="select-point"></div>
    </div>
    <div id="portal-target"></div>
    {% for error in form.location.errors %}
      <p class="help is-danger">
        {{ error }}
      </p>
    {% endfor %}
    {% include 'app/text_input.html' with field=form.title autofocus=True only %}
    {% csrf_token %}
    <button type="submit" class="button is-info">Report Issue</button>
  </form>
{% endblock %}
{% block extrascripts %}
  <script type="text/javascript" src="{% static 'app/webpack-dist/js/vendors-selectpoint.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/webpack-dist/js/selectpoint.js' %}"></script>
{% endblock %}