{% extends 'app/base.html' %}
{% load extratags %}
{% load static %}
{% block body %}
  <style>
    @media (max-width: 769px) {
      .columns-height {
        height: 80vh;
      }
    }
    @media not all and (max-width: 769px) {
      .columns-height {
        height: 100vh;
      }
      .scrollable-full-height-container {
        max-height: 100vh;
        overflow-y: scroll
      }
    }
    .show-only-one:nth-child(2) {
        display: none;
    }
  </style>
  <section class="columns">
    <div class="column px-0 pb-0 mb-0 columns-height">
      <div id="map-container" style="background-color: #e6e5e0; height: 100%; width: 100%">
        <div id="list-issues-map" data-props="{{ raw_data | encodejson }}"></div>
      </div>
    </div>
    <div class="column scrollable-full-height-container">
      <h3 class="title is-3">Issues at location</h3>
      <div class="content">
          You may pan or zoom in/out the map and see issues within the enclosed area with 'Recenter Map'.
          You can click issues on the map or the list.
          You may report an issue too.
      </div>
      <div id="sidebar-stuff">
        <!-- This prevents too much layout shift. A div with .show-only-one will be prepended to this, and this will be hidden -->
        <div style="height: 250px;" id="hide-this" class="show-only-one"></div>
      </div>
      {% for issue in raw_data.rawIssues %}
        <div class="pb-1">
          <a href="{% url 'view_issue' issue.id %}?slug={{ issue.title | slugify }}" data-id="{{ issue.id }}" onclick="highlightIssue()">
            {{ issue.title }}
          </a>
          <span class="tags" style="display: inline">
            {% for tag in issue.tags %}
              <span class="tag is-light">
                {{ tag.name }}
              </span>
            {% endfor %}
          </span>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
{% block extrascripts %}
  <script type="text/javascript">
    function getMapDimensions() {
      const div = document.getElementById('map-container')
      return {width: div.clientWidth, height: div.clientHeight}
    }
    function highlightIssue() {
      // Applies only for left click. Let middle click, ctrl+click, right click open normally
      if(!(this.event.buttons === 0 && !this.event.ctrlKey)){
        return
      }
      this.event.preventDefault()
      window.listissues.highlightIssue(parseInt(this.event.target.dataset.id))
    }
  </script>
{% endblock %}